<div class="py-14">
  <div class="flex justify-content-start align-items-center">
    <div class="mr-6 flex items-center justify-center">
      <img alt="Fulcrum" class="rounded-3xl w-32 h-32" src="assets/icon.svg" />
    </div>
    <div>
      <div class="flex items-center">
        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="4" cy="4" r="4" fill="#00CD98"></circle>
        </svg>
        <p class="ml-1 text-green-500 text-lg">Running</p>
      </div>
      <h3 class="text-5xl font-semibold dark:text-white">Fulcrum</h3>
      <div class="mt-2">
        <span class="text-gray-500 font-medium">
          {{#if this.fulcrum.version}}
            {{this.fulcrum.version}}
          {{else}}
            ...
          {{/if}}
        </span>
      </div>
    </div>
  </div>

  <div class="flex justify-end mb-2">
    <h3 class="font-semibold mb-0 text-gray-800 dark:text-gray-200">
      {{#if this.syncPercentNotZero}}
        <span>
          {{this.syncPercent}}%
          <span class="align-self-end ml-1">Synchronized</span>
        </span>
      {{else}}
        <span class="animate-pulse">
          Waiting for Bitcoin Node to finish syncing...
        </span>
      {{/if}}
    </h3>
  </div>
  <Utility::ProgressBar @percentage={{this.syncPercent}} @colorClass="bg-green-400" class="h-2" />
  {{! <progress-bar :percentage="syncPercent" colorClass="bg-green-400" class="h-2"></progress-bar> }}
  <ConnectionInformation />

</div>